{% extends "base/index.html" %}
{% block title %} Shop {% endblock title %}

{% block content %}

<form method="GET" action="">
    {{ search_form }}
    <button type="submit">Search</button>
</form>

<form method="GET" action="">
    {{ sort_form }}
    <button type="submit">Sort</button>
</form>


{% for products in products %}
    
    {{ products.title}}
    <img src="{{ products.image.url }} " alt="Image">
    {% if products.sale_price %}
        <strike> ${{products.price}} </strike> ${{products.sale_price}} - QTY: {{ products.quantity}}
    {% else %}
    ${{ products.price }} - QTY: {{ products.quantity }}

    {% endif %}
    

{% endfor %}

{% endblock content%}