{% extends "base/index.html" %}
{% block title %} Shop {% endblock title %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
  .product-col {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <form method="GET" action="">
        {{ search_form }}
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <div class="col-md-6">
      <form method="GET" action="">
        {{ sort_form }}
        <button type="submit" class="btn btn-primary">Sort</button>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    {% for products in products %}
      <div class="col-md-3 col-sm-6 product-col">
        <div class="card">
          <img class="card-img-top" src="{{ products.image.url }}" alt="Image">
          <div class="card-body">
            <h5 class="card-title">{{ products.title }}</h5>
            {% if products.sale_price %}
              <p class="card-text"><strike>${{products.price}}</strike> ${{products.sale_price}}</p>
            {% else %}
              <p class="card-text">${{ products.price }}</p>
            {% endif %}
            <p class="card-text">Quantity: {{ products.quantity }}</p>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div><div class="row mt-5">
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}
